@page "/portal"

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="12" md="6">
            <MudPaper Elevation="2" Class="tile" Style="height: 200px; cursor:pointer; transition: transform 0.2s, box-shadow 0.2s;">
                <a href="swagger/index.html" target="_blank" style="text-decoration:none; color:inherit; display:flex; align-items:center; justify-content:center; height:100%;">
                    <MudStack AlignItems="AlignItems.Center" Spacing="1">
                        <img src="images/swagger.png" alt="Swagger" style="width:64px; height:64px;" />
                        <MudText Typo="Typo.h6" Align="Align.Center">Swagger</MudText>
                    </MudStack>
                </a>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>